.container{
    min-height: 450px; 
    color: #fafafa;
    /* padding: 20px;   */
    /* margin-bottom: 100px; */
}

.body{
    padding: 70px;
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
    color: #fafafa;

    /* width: 100%; */
    /* background-color: blue  ; */
}