.TabCont{
    color:#fafafa;
    min-height:300px ;
}

.TabContList{
    /* background:red; */
    display: flex;
    justify-content:center;
    align-items:center;
    /* gap: 20px; */
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .TabContList button{
    background-color: rgba(255, 255, 255, 0.13);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
} */