.links{
    color:whitesmoke !important;
    font-weight: bold !important;
}

.topNav{
    padding-left:2% !important;
    padding-right:2% !important;
}

.topNavMid{
    display: flex;
    flex-direction: row;
    column-gap:20px; 
    justify-content:center; 
    align-items:center;    
}

.topNavIcon{
    column-gap:10px;
    padding-left:2%;
    padding-right:2%
}

.headerText{
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 1000px){
    .headerText{
        display: none !important;
    }

    .topNav{
        justify-content: flex-end !important;
    }

    .topNavMid{
        display: none !important;   
    }
}