.container{
    /* height: 300px; */
    /* padding: 90px 50px; */
    padding-top: 90px;
    padding-bottom: 50px;
    --bs-gutter-x: 0rem;
    
}

.header{
    padding-left: 50px;
    padding-right: 50px;
}

.H5{
    /* margin: 20px auto; */
}

.H2{
    margin-top: 20px;
    margin-bottom: 40px;
}

.videoContainer{
    position: relative;
}