@import "tailwindcss";


@import 'bootstrap/dist/css/bootstrap.min.css';



.leaflet-container {
  height: 100%;
  width: 100%;
}

p{
  margin:0px;
  font-weight:600;
  color: #74757B;
  /* color:#f8daf8 */
  /* font-weight: bold; */
  font-size: 16px;
}

.accordion-button{
  background-color: transparent;
  
}

h2{
  font-weight:bolder;
  font-size:42px;
}

.navbar-toggler{
  border-color: #f8f8f8;
  color: #f8f8f8;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  /* background:green; */
}


.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;  /* or #fff */
}

body > div.allcourses-module__JwsRwq__container.row > div:nth-child(1) > div > nav > ol > li:nth-child(1) > a{
    text-decoration: none;
    color: whitesmoke;
}
