@import "tailwindcss";


@import 'bootstrap/dist/css/bootstrap.min.css';



.leaflet-container {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background:green; */
}
