.container{
    padding:50px;
    padding-top: 90px;
    --bs-gutter-x: 0rem;
    
}

.H5{
    /* margin: 20px auto; */
    /* background-color: aqua; */
}

.H2{
    margin-top: 20px;
    margin-bottom: 40px;
    /* background-color: blueviolet; */
}

.map{
    height: 300px;
    /* width: 100%; */
    border-radius:20px;
    padding-left: 50px;
    padding-right: 50px;
}
