.container{
    height: 300px;
    padding: 30px 50px;
    padding-bottom: 40px;
    
}

.H1{
    /* text-align: center; */
    margin: 20px auto;
    margin-bottom: 40px;
}

.body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.bodyP{
    margin-bottom: 0px;
    background-color: aqua;
}