.container{
    /* height: 300px;  */
    background-color: red;
    /* padding: 20px;   */
    /* margin-bottom: 100px; */
}

.body{
    padding: 70px;
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
    /* width: 100%; */
    /* background-color: blue  ; */
}